body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.add-expert-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-expert-form h2 {
    text-align: center;
}

.add-expert-form label {
    display: block;
    margin-top: 10px;
}

.add-expert-form input,
.add-expert-form select,
.add-expert-form button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.add-expert-form button {
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.add-expert-form button:hover {
    background-color: #0056b3;
}
#subcategory {
    height: auto;
    min-height: 50px;
}
