body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('images/pic2.jpg');
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: -10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn {
    background-color: crimson;
    color: white;
}

.register-btn {
    margin-top: 10px;
    background-color: #f8f9fa;
    color: black;
}

.close {
    float: right;
    cursor: pointer;
}

/* Additional styles for responsiveness */
@media (max-width: 400px) {
    .form-container {
        padding: 10px;
    }
}
